.select {
  padding: 0 0.5rem;
  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 0.3rem;
    padding: calc(0.5rem - 2px);
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
  }

  &__select {
    font-family: 'Roboto', sans-serif;
    line-height: 1rem;
    appearance: none;
    font-size: 0.75rem;
    background-color: transparent;
    margin: 0;
    padding-bottom: 0;
    text-indent: -2px;
    cursor: pointer;
    border-style: none;

    option {
      font-family: inherit;
      line-height: inherit;
      white-space: normal;
      padding: 0;
      margin: 0;
      font-size: 0.75rem;
    }
  }

  &__arrow {
    display: flex;
    user-select: none;
    align-items: center;
  }

  &__label {
    font-size: 0.65rem;
    font-weight: bold;
  }

  &__half {
    flex-basis: 50%;
  }

  &__full {
    flex-basis: 100%;
  }

  &--error {
    .select__container {
      border: 1px solid red;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
}
